PPURIO_API_BASE_URL=https://message.ppurio.com
PPURIO_ACCOUNT=necokumo
PPURIO_AUTH_KEY=5f410db7a5427c87a9f98d0a41ad3bc115abc78d36c79b3f12724499cb546dcf
PPURIO_SENDER_NUMBER=010-5577-9060
PPURIO_FUNCTION_SECRET=BLENDON2281502857

PPURIO_FUNCTION_REGION=asia-northeast3
PPURIO_VPC_CONNECTOR=projects/blendon-5a301/locations/asia-northeast3/connectors/blendon-sms-conn